.logo {
  font-family:PT Serif
}
.menu__item {
  font-family:Roboto;
  color: blue;
}
.main-content__title {
  font-family:PT Serif
}
.main-content__subtitle {
  font-family:Roboto
}
.main-content__button {
  font-family:Roboto
}
